doctype html
html lang="en"
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta charset="utf-8" /
    meta content="IE=edge" http-equiv="X-UA-Compatible" /
    meta content="width=device-width, initial-scale=1" name="viewport" /
    meta content="" name="description" /
    meta content="" name="author" /
    link href="images/s" /
    doctype html
    html lang="en"
      head
        meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
        meta charset="utf-8" /
        meta content="IE=edge" http-equiv="X-UA-Compatible" /
        meta content="width=device-width, initial-scale=1" name="viewport" /
        meta content="" name="description" /
        meta content="" name="author" /
        link href="images/sharefilogo1.png" rel="icon" /
        title Wirefy
        /! Bootstrap core CSS
        link href="css/bootstrap.min.css" rel="stylesheet" /
        /! Custom styles for this template
        link href="css/cover.css" rel="stylesheet" /
        /! IE10 viewport hack for Surface/desktop Windows 8 bug
        script src="js/ie10-viewport-bug-workaround.js"
        css:
          input, textarea {
            resize: none;
            outline: none;
            border: none;
            color: #333;
            padding: 3.3px;
            margin: 3px;
            width: 400px;
          }
          textarea {
            height: 100px;
          }
          #submit {
            width: 150px;
            height: 35px;
            background-color: #fff;
            color: #333;
            border-radius: 0px;
          }
          #submit:hover {
            background-color: #BCBCBC;
          }
      body
        .site-wrapper
          .site-wrapper-inner
            .cover-container
              .masthead.clearfix
                .inner
                  img src="images/sharefilogo1white.png" style="float:left;padding-right:1%;width:8%;height:5%;block:inline-block" /
                  h3.masthead-brand
                    | Wirefy
                  nav.nav.nav-masthead
                    a.nav-link.active href=("/")  Home
                    a.nav-link href=("/Cover Template for Bootstrap.html")  Features
                    a.nav-link href=("/Cover Template for Bootstrap.html")  Contact
                    a.nav-link.active href=("/dashboard")  Home
                    a.nav-link href=("/logout")  Log Out
              .inner.cover
                h3.cover-heading
                  | Share a Network
                form#createform action="/create" method="post"
                  input#ssid maxlength="40" minlength="0" name="network[ssid]" placeholder="SSID" required="true" type="text" /
                  br/
                  input#password maxlength="50" minlength="0" name="network[password]" placeholder="Password" required="true" type="text" /
                  br/
                  input#locationname maxlength="40" minlength="0" name="network[location_name]" placeholder=("Location Name") required="true" type="text" /
                  br/
                  textarea#comments maxlength="500" name="network[comments]" placeholder="Comments" required="false"
                  br/
                  br/
                  input#submit type="submit" value="Submit" /
        /!
          | | | Bootstrap core JavaScript
          | | | \==================================================
        /! Placed at the end of the document so the pages load faster
        script src="js/jquery.min.js"
        javascript:
          | window.jQuery = document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
