doctype html
html lang="en" 
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta charset="utf-8" /
    meta content="IE=edge" http-equiv="X-UA-Compatible" /
    meta content="width=device-width, initial-scale=1" name="viewport" /
    meta content="" name="description" /
    meta content="" name="author" /
    link href="images/sharefilogo1.png" rel="icon" /
    title Wirefy
    /! Bootstrap core CSS
    link href="css/bootstrap.min.css" rel="stylesheet" /
    /! Custom styles for this template
    link href="css/cover.css" rel="stylesheet" /
    /! IE10 viewport hack for Surface/desktop Windows 8 bug
    script src="js/ie10-viewport-bug-workaround.js" 
    css:
      a {
        text-decoration: none !important;
      }
      .inner-container {
        width: 100%;
        height: 350px;
        display: flex;
      }
      .inner-tab {
        width: 100%;
        height: 50px;
        background-color: #333;
        color: #fff;
        padding: 13px;
        text-shadow: none;
      }
      .inner-tab:hover {
        background-color: #fff;
        color: #333;
      }
      .inner-frame1 {
        text-shadow: none;
        background-color: #333;
        width: 33.5%;
        height: 350px;
        margin: 0;
        text-align: center;
      }
      .inner-frame2 {
        text-shadow: none;
        padding: 15px;
        background-color: #fff;
        color: #333;
        width: 66.5%;
        height: 350px;
        margin: 0;
        text-align: center;
      }
      input {
        resize: none;
        outline: none;
        border: none;
        color: #333;
        padding: 3.3px;
        margin: 3px;
        width: 400px;
      }
      #submit {
        width: 150px;
        height: 35px;
        background-color: #fff;
        color: #333;
      }
      #submit:hover {
        background-color: #BCBCBC;
      }
  body
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              img src="images/sharefilogo1white.png" style="float:left;padding-right:1%;width:8%;height:5%;block:inline-block" /
              h3.masthead-brand
                | Wirefy
              nav.nav.nav-masthead
                a.nav-link.active href=("/Cover Template for Bootstrap.html")  Home
                a.nav-link href=("/Cover Template for Bootstrap.html")  Features
                a.nav-link href=("/Cover Template for Bootstrap.html")  Contact
          .inner.cover
            .inner-container
              .inner-frame1
                .inner-tab Browse
                .inner-tab Local
                .inner-tab Recent
              .inner-frame2
                h3.inner-tab-head Header
                p.inner-tab-info Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
    /! Bootstrap core JavaScript==================================================
    /! Placed at the end of the document so the pages load faster
    script src="js/jquery.min.js" 
    javascript:
      window.jQuery = document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
    script src="js/bootstrap.min.js" 
    /! IE10 viewport hack for Surface/desktop Windows 8 bug
    script src="js/ie10-viewport-bug-workaround.js" 
