doctype html
html lang="en" 
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta charset="utf-8" /
    meta content="IE=edge" http-equiv="X-UA-Compatible" /
    meta content="width=device-width, initial-scale=1" name="viewport" /
    meta content="" name="description" /
    meta content="" name="author" /
    link href="images/sharefilogo1.png" rel="icon" /
    title Wirefy
    /! Bootstrap core CSS
    link href="css/bootstrap.min.css" rel="stylesheet" /
    /! Custom styles for this template
    link href="css/cover.css" rel="stylesheet" /
    /! IE10 viewport hack for Surface/desktop Windows 8 bug
    script src="js/ie10-viewport-bug-workaround.js" 
    css:
      a {
        text-decoration: none !important;
      }
      .inner-network {
        width: 80%;
        height: 40px;
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 8px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 0px;
      }
      .inner-network:hover {
        background-color: #505050;
      }
      .inner-separator {
        width: 79%;
        height: 1px;
        background-color: #333;
        margin: auto;
      }
      .inner-frame {
        text-shadow: none;
        padding: 13px;
        background-color: #fff;
        color: #333;
        width: 100%;
        height: 350px;
        border-radius: 0px;
        margin: auto;
        text-align: center;
      }
      input {
        resize: none;
        outline: none;
        border: none;
        color: #333;
        padding: 3.3px;
        margin: 3px;
        width: 400px;
      }
      #submit {
        width: 150px;
        height: 35px;
        background-color: #fff;
        color: #333;
        border-radius: 0px;
      }
      #submit:hover {
        background-color: #BCBCBC;
      }
  body
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              img src="images/sharefilogo1white.png" style="float:left;padding-right:1%;width:8%;height:5%;block:inline-block" /
              h3.masthead-brand
                | Wirefy
              nav.nav.nav-masthead
                a.nav-link.active href=("/")  Home
                a.nav-link href=("/Cover Template for Bootstrap.html")  Features
                a.nav-link href=("/Cover Template for Bootstrap.html")  Contact
          .inner.cover
            .inner-frame
              br/
              h3.inner-username
                b User12345
              p#inner-verficiation.inner-verification
                i Verified | 45 Networks Posted
              .inner-separator
              br/
              a href="#Network1" /
              .inner-network Network1
              a href="#Network2" /
              .inner-network Network2
              a href="#Network3" /
              .inner-network Network3
              a href="#Network4" /
              .inner-network Network4
    /! Bootstrap core JavaScript==================================================
    /! Placed at the end of the document so the pages load faster
    script src="js/jquery.min.js" 
    javascript:
      window.jQuery = document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
    script src="js/bootstrap.min.js" 
    /! IE10 viewport hack for Surface/desktop Windows 8 bug
    script src="js/ie10-viewport-bug-workaround.js" 
